params {
   inputFiles = "input.txt"
   virtualenv = "path/to/virtualenv/bin/activate"
   phaseibd = "path/to/phaseibd/bin/phaseibd_chr.py"
   geneticMap = "/path/to/geneticMap/*.map"
   resultFolder = "/path/to/result/folder"
}

process {
   executor = "slurm"
   clusterOptions = "" // cluster allocation account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "benchmark" }
   }
   $local {
      cpus = 1
   }
}
