params {
   workingDir = "/lustre07/scratch/justinp/NextFlow/Final/test"
   genoFile = "/lustre07/scratch/justinp/NextFlow/IBD/genofiles/gsa760_recode_phased"       //chromosome has to be identified after a "." in the fileanme. Need to be zipped <bgzip file>
   virtualenv = "/project/6005588/shared/virtualenv_python_3.9_gnomix/bin/activate"
   phaseibd = "/lustre07/scratch/justinp/NextFlow/Final/bin/phaseibd_chr.py"    //In the bin directory
   hapibd = "/lustre07/scratch/justinp/NextFlow/Final/bin/hap-ibd.jar"                   //In the bin directory
   geneticMap = "/lustre07/scratch/justinp/CERC/Beagle/beagle_phasing/phase_with_reference/Genetic_maps/no_chr"               //match the chromosome prefix with the genotype file (HapMap gmaps available the bin/Hapmap directory)
   gapfile = "/lustre07/scratch/justinp/CERC/IBD_mapping/genome_gap_hg38/"                    //bed file of regions to remove from the IBD analysis split by chromosomes
   
   removeGaps = false                   //do you want to remove the gaps that are in the bed files from the IBD segments (true = yes, false = no)
   chromosomes = 1..22
   assembly = "GRCh38"

}




process {
   executor = "slurm"
   clusterOptions = "" // cluster allocation account name
   //executor = "local"

   cpus = 8
   time = "4h"
   memory = "175GB"

}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "IBD" }
   }

}
